*{
	padding: 10;
	margin:10;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=BenchNine:300');
h1, h2 {
  font-family: 'Roboto', sans-serif;
  background-color: blue;
  font-weight: 800;
  font-size: 30em;
  text-align: center;
  color: #D9FFD9;
}
p {
  background-color: red;
  margin: 20em 0 10em 0;
  font-size: 16em;
  font-family: 'BenchNine', sans-serif;
}
ul {
 background-color: purple;
 display:inline;
 color: white;
 width: 150em;
 margin: 2 auto;
}
li {
 background-color: purple;
 display:inline;
}
a {
  background-color: yellow;
  color: black;
}
body{
 text-align: left;
 background: url("../images/creativedonuts.jpg");
 background-size: cover;
 color: #FFD189;
 font-family: 'BenchNine', sans-serif;
}
.logo{
	background: url("../images/logo.jpg");
	width: 250px;
	height: 160px;
}
hr{
  width: 200px;
}
nav{
	text-decoration: none; 
	text-align: right;
	font-size: 1em;
	padding: 20px; 
	margin: 20px;
}